@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    
}

body{
    color: #fff;
    background-color: #000;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:"header" "body"; */
}

/* Header Styling */
.head{
    width: 100%;
    /* border: 1px solid white; */
    background-color: #000;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}

nav ul{
    list-style: none;
    opacity: 0;
    left: 0;
    position: absolute;
    display: flex;
}

.icons{
    position: absolute;
    opacity: 0;
}

#techinnover{
    width: 173px;
    height: 64.88px;
}

.hamburger{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.fa-bars{
    font-size: 20px;
    margin-right: 5px;
}

/* Section One Styling */
.sec1{
    margin-top: 140px;
}

.sec1 h2{
    font-size: 38px;
    font-weight: 400;
    padding: 30px 30px 0;
}

.banner{
    margin-top: 30px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.banner img{
   width: 60%;
}

#banner_text{
    /* border: 1px solid red; */
    width: 100%;
    background-color: #FFF;
    padding: 60px 30px;
    color: #000;
}

#banner_text h3{
    font-size: 28px;
    font-weight:500;
}

.span_text{
    color: #A9AEB3;
}

/* Section Two Styling */
.sec2{
    margin-top: 70px;
}

.sec2_text{
    padding: 30px;
}

.sec2_text h3{
    font-size: 26px;
    font-weight: 400;
    width: 414px;
}

.sec2_text p{
    color: #959CA0;
    font-size: 18px;
    margin: 50px 0px 10px;
}

.portfolio{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.portfolio p{
    color: #959CA0;
    font-size: 18px;
}

.projects, .experts{
    /* border: 1px solid white; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-briefcase, .fa-laptop-code{
    color: #959CA0;
    font-size: 30px;
    margin: 0px 0px 20px;
}

.projects h3, .experts h3{
    font-size: 44px;
    font-weight: 400;
}

.projects p, .experts p{
    margin: 0px 0px 50px;
}

.projects button, .experts button{
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    border: 1px solid #FFF;
}

.projects button:hover, .experts button:hover{
    background-color: #FFF;
    color: #000;
    font-weight: 600;
}

.marquee{
    width: 100%;
    overflow: hidden;
    animation: marquee 20s linear infinite;
    display: flex;
    /* border: 1px solid white; */
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.e_learning, .e_commerce, .cinema, .ui_ux, .chatbot, .ai_platform, .WA_chatbot, .streaming{
    padding: 18px;
}

.e_learning img, .e_commerce img, .cinema img, .ui_ux img, .chatbot img, .ai_platform img, .WA_chatbot img, .streaming img{
    max-width: 100%;
    height: auto;
}

.marquee p{
    /* border: 1px solid red; */
    width: 90%;
    text-wrap:wrap;
    text-align: center;
    font-size: 22px;
}

/* Section Three Styling */
.sec3{
    margin: 60px 0;
}

.sec3 img{
    max-width: 100%;
    height: auto;
}

.sec3_text{
    width: 100%;
    z-index: 2;
    margin-top: -8px;
    background-color: #FFF;
    padding: 60px 30px;
    color: #000;
}

.sec3_text h3{
    font-size: 28px;
    font-weight:500;
}

.sec3_text p{
    margin: 50px 0px 10px 0px;
    color: #6D7275;
    font-size: 18px;
}

/* Services Section Styling */
.services{
    /* border: 1px solid white; */
    margin: 40px 0px;
}

.services_txt, .info{
    padding: 30px;
}

.services_txt h3{
    font-size: 26px;
    font-weight: 400;
}

.services_txt p{
    margin: 50px 0px 40px;
    font-size: 18px;
    color: #959CA0;
}

.info{
    /* border: 1px solid white; */
    display: grid;
    row-gap: 25px;
}

.web, .mobile, .design, .ai, .team{
    /* border: 1px solid white; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-tv, .fa-robot, .fa-user-check, .fa-mobile-screen, .fa-pen-nib{
    /* border: 1px solid red; */
    color: #6D7275;
    font-size: 24px;
}

.fa-tv, .fa-robot, .fa-user-check{
    padding-right: 10px;
}

.fa-mobile-screen{
    padding-right: 22px;
}

.fa-pen-nib{
    padding-right: 15px; 
}

/* Section Four Styling */
.sec4{
    /* border: 1px solid white; */
    padding: 30px 0px;
}

.sec4 img{
    max-width: 100%;
    height: auto;
}

.chat{
    width: 100%;
    margin-top: -8px;
    background-color: #FFF;
    padding: 60px 30px;
    color: #000;
}

.chat h3{
    font-size: 28px;
    font-weight:500;
}

.chat p{
    margin: 50px 0px 30px 0px;
    color: #6D7275;
    font-size: 18px;
}

.chat button{
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

.chat button:hover{
    background-color: #000;
    color: #FFF;
    font-weight: 600;
}

/* Footer Styling */
footer{
    padding: 30px 0;
}

.footer_marquee{
    width: 100%;
    overflow: hidden;
    animation: marquee 20s linear infinite;
    display: flex;
    gap: 30px;
    align-items: center;
    /* border: 1px solid white; */
}

.footer_marquee img{
    max-width: 100%;
    height: auto;
}

.exam_padi img{
    width: 300px;
}

#copyright{
    /* border: 1px solid white; */
    text-align: center;
    padding: 30px 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #FFFFFFA1;
}

.top{
    /* border: 1px solid white; */
    width: fit-content;
    padding: 10px 15px;
    position: fixed;
    top: 95%;
    left: 99%;
    transform: translate(-100%, -100%);
    background-color: rgba(41, 40, 40, 0.137);
}

.top a{
    text-decoration: none;
    color: #FFF;
}

/* Media Queries */
@media (min-width: 901px){
/* Header Styling */
.head{
    justify-content: space-between;
    padding: 0 25px;
    height: 53px;
}

.icons{
    opacity: 1;
    position: relative;
    display: flex;
    gap: 15px;
}

.fa-twitter, .fa-instagram, .fa-linkedin, .fa-facebook{
    color: #959CA0;
}

.fa-twitter:hover, .fa-instagram:hover, .fa-linkedin:hover, .fa-facebook:hover{
    cursor: pointer;
    color: #FFF;
}

#techinnover{
    /* border: 1px solid white; */
    width: 120px;
    height: 45px;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -10%);
    margin-bottom: -10px;
}

/* Section One Styling */
.sec1, .services{
    padding: 0px 30px;
}

.sec1 h2{
    width: 65%;
    font-size: 44px;
    line-height: 55px;
}

.banner{
    padding: 30px;
    margin: 60px 0px 150px;
    display: flex;
    flex-direction: row;
}

#banner_text{
    width: 50%;
    margin-left: -50px;
    margin-top: 50px;
    padding: 48.6px;
}

/* Section Two Styling */
.sec2{
    margin: 60px 0px;
    padding: 0px 30px;
}

.sec2_text{
    width: 50%;
    float: left;
}

.sec2_text p{
    margin-top: 60px;
    line-height: 25px;
}

.portfolio{
    width: 50%;
    /* display: flex; */
    flex-direction: row;
}

.projects p, .experts p{
    text-align: center;
    margin-top: 10px;
}

.fa-briefcase, .fa-laptop-code{
    margin: 10px 0px 30px;
}

/* Section Three Styling */
.sec3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 90px 60px;
}

.sec3 img{
    width: 60%;
    float: right;
}

.sec3_text{
    width: 50%;
    margin-right: -30px;
}

/* Services Section Styling */
.services_txt{
    width: 50%;
    float: left;
}

.info{
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
}

/* Section Four Styling */
.sec4{
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec4 img{
    width: 60%;
    height: 550px;
    float: right;
}

.chat{
    width: 50%;
    padding: 48.6px;
    margin-left: -70px;
}

/* Footer Styling */
#copyright{
    padding-left: 60px;
    text-align: left;
}
}

@media (min-width:1050px){
/* Header Styling */
    #techinnover{
        transform: translate(-90%, -10%);
    }
}

@media (min-width: 1095px){
/* Footer Styling */
    #copyright{
        border-top: 1px solid #959CA0;
    }
}

@media (min-width: 1140px){
/* Section Three Styling */
    .sec3_text{
        padding: 61px;
    }
/* Section Four Styling */
    .sec4{
        float: left;
    }
/* Footer Styling */
    .footer_marquee{
        padding: 60px 0 30px;
    }
}

/* @media (min-width: 1201px){
Body Styling
    body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header body";
        gap: 350px;
    }
    .main{
        grid-area: body;
        width: 75%;
    }
Header Styling
    .header{
        grid-area: header;
        padding: 60px;
        background-color: #000;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        height: 113vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .head{
        position: sticky;
        flex-direction: column;
    }

    .hamburger{
        opacity: 0;
        position: absolute;
        top: 0;
    }

    #techinnover{
        margin-top: 21px;
        top: 100%;
        left: 100%;
        transform: translate(-0%, -500%);
        width: 180px;
        height: 75px;
    }

    nav ul{
        opacity: 1;
        flex-direction: column;
        margin-top: -120px;
        gap: 25px;
    }

    nav ul li{
        font-size: 20px;
    }

    nav ul li:hover{
        cursor: pointer;
        color: #959CA0;
    }

    .icons{
        margin-top: 150px;
    }
} */